.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-color: white;
}

.container p{
  color: gray;
}

.container p a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.container p1 a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  
}
.password-container {
  position: relative;
  margin-bottom: -5px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.line-with-or {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.line-with-or::before,
.line-with-or::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid gray;
}